@font-face {
  font-family: 'GothamPro';
  src: url('../assets/fonts/GothamPro.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamPro-Bold';
  src: url('../assets/fonts/GothamPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamPro-BoldItalic';
  src: url('../assets/fonts/GothamPro-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamPro-Italic';
  src: url('../assets/fonts/GothamPro-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamPro-Light';
  src: url('../assets/fonts/GothamPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamPro-LightItalic';
  src: url('../assets/fonts/GothamPro-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamPro-Medium';
  src: url('../assets/fonts/GothamPro-Medium.ttf') format('truetype');
}
